.team14-max-width {
  gap: var(--dl-space-space-twounits);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team14-section-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team14-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team14-slider {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
  align-self: center;
}
 
.team14-slider-pagination {
  display: none;
}
 
.team14-slider-button-prev {
  display: none;
}
 
.team14-slider-button-next {
  display: none;
}
 
.team14-text12 {
  display: inline-block;
}
 
.team14-text13 {
  display: inline-block;
}
 
.team14-text14 {
  display: inline-block;
}
 
.team14-text15 {
  display: inline-block;
}
 
.team14-text16 {
  display: inline-block;
}
 
.team14-text17 {
  display: inline-block;
}
 
.team14-text18 {
  display: inline-block;
}
 
.team14-text19 {
  display: inline-block;
}
 
.team14-text20 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
 
.team14-button {
  width: 100%;
  max-width: 300px;
}
 
.team14-text22 {
  display: inline-block;
}
 
.team14-text23 {
  display: inline-block;
}
 
.team14-text26 {
  display: inline-block;
}
 
.team14root-class-name {
  background-color: var(--dl-color-theme-accent2);
}
 
@media(max-width: 1600px) {
  .team14-text20 {
    margin-top: var(--dl-space-space-unit);
  }
  .team14-button {
    border-color: var(--dl-color-scheme-orange100);
    background-color: var(--dl-color-scheme-green100);
  }
  .team14root-class-name {
    fill: var(--dl-color-scheme-green100);
    color: var(--dl-color-scheme-green100);
    background-color: var(--dl-color-theme-accent2);
  }
}
 
@media(max-width: 1200px) {
  .team14-text20 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .team14-button {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .team14root-class-name {
    background-color: var(--dl-color-theme-accent2);
  }
}
 
@media(max-width: 767px) {
  .team14-max-width {
    padding: var(--dl-space-space-threeunits);
  }
  .team14-slider {
    display: none;
  }
  .team14-text20 {
    margin-top: var(--dl-space-space-unit);
  }
}
 
@media(max-width: 479px) {
  .team14-max-width {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .team14-text11 {
    text-align: center;
  }
  .team14-text20 {
    margin-top: var(--dl-space-space-unit);
    text-align: center;
  }
  .team14-button {
    width: 100%;
  }
}
